[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyarrow = "*"
matplotlib = "*"
fastparquet = "*"
seaborn = "*"
jupyter = "*"
notebook = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3"
